.App {
  text-align: center;
}

.post {
  width: 400px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 30px auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
