.error {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #747474;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
}